# Base
server=1
listen=1
daemon=1

# Access
rpcuser=RPC_USER
rpcpassword=RPC_PASS
rpcallow=127.0.0.1
rpcport=29683

# Indexs
txindex=1
logtimestamps=1
addressindex=1
timestampindex=1
spentindex=1

# Seeding
seednode=mn.cryptophi.com
addnode=mn.cryptophi.com
