# Base
server=1
listen=1
daemon=1
testnet=1

# Access
rpcuser=OVSD
rpcpassword=OVSD7oJSQUHt
rpcallow=127.0.0.1
#rpcport=29683
rpcport=28683

# Indexs
txindex=1
logtimestamps=1
addressindex=1
timestampindex=1
spentindex=1

# Seeding
seednode=tnodes.muex.io
addnode=tnodes.muex.io
